<%= content_for :head do %>
  <%= javascript_tag do -%>
      <%== "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
      var original_button_text = "<%= t(:save_and_continue) %>";
  <% end -%>
<% end %>

<div id='card_notice'></div>
<% if @cards.present? %>
  <div id="card_options">
  <%= radio_button_tag 'use_existing_card', 'yes', true %>
  <label>Use an existing card on file</label>
  &nbsp;&nbsp;
  <%= radio_button_tag 'use_existing_card', 'no' %>
  <label>Use a new card</label>
  </div>

<div id="existing_cards">
  <%= javascript_tag do -%>

    $(document).ready(function () {

      useExistingCardsInit();

      // we are not on the 'my account' page, so let's plug in the
      // appropriate callback for when a card is deleted
      creditCardDeleteCallback = paymentPageResetCreditCardOptions;  
    });
  <% end %>

  <p class="field" data-hook="existing_cards">
    <h4>Existing Cards</h4>
    <table class="existing-credit-card-list">
      <thead>
        <tr>
          <th>Select</th>
          <th>Name on Card</th>
          <th>Card Number</th>
          <th>Expiration</th>
        </tr>
      </thead>
      <tbody>
        <% @cards.each do |card| %>
          <tr id="<%= dom_id(card,'spree')%>" class="<%= cycle('even', 'odd') %>">
          	<td><%= radio_button_tag "existing_card", card.id, (@cards.count == 1), :requires_cardnumber => card.retailer_id != @order.retailer.id %></td> <%# if we only have 1 saved card, autoselect %>
            <td><%= card.name %></td>
            <td><%= card.display_number %></td>
            <td><%= "#{card.month}/#{card.year}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

	<% if (@cards.map(&:retailer_id) - [@order.retailer.id]).count > 0 %>
		<div style="display:none;" id="reenter_card_details">
			<p>Please re-enter your credit card details for the selected card ending in <span id="select-card-for-reuse"></span> for security purposes. We may ask users from time to time to do this as an enhanced security measure.</p>
			<label>Card Number: </label><br />
			<%= text_field_tag "card_number_confirm", '', :size => 19 %><br />
			<label>Card Code:</label><br />
			<%= text_field_tag "card_cvv_confirm", '', :size => 5 %>
		</div>
	<% end %>
  </p>
</div> <!-- existing_cards -->

<% end %>



