<%= content_for :head do %>
  <%= javascript_tag do -%>
    <%== "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <% end -%>
<% end %>

<% if @cards.present? %>

  <div id='card_notice'></div>

  <h3>Credit Cards on File</h3>

  <p class="field">
    <table class="existing-credit-card-list">
      <thead>
        <tr>
          <th>Name on Card</th>
          <th>Card Number</th>
          <th>Expiration</th>
          <th>Billing Address</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cards.each do |card| %>
          <tr id="<%= dom_id(card)%>" class="<%= cycle('even', 'odd') %>">
            <td align="center"><%= card.name %></td>
            <td align="center"><%= card.display_number %></td>
            <td align="center"><%= "#{card.month}/#{card.year}" %></td>
			<td align="center"><%= card.address %></td>
            <td>
            <%= link_to (icon('delete') + ' ' + t(:delete)),
                spree.creditcard_url(card),
                remote: true, method: :delete,
                confirm: 'Are you sure?' %>
            </td>
          </tr>
        <% end %>
      </tbody>
     </table>
  </p>

<% end %>
